@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

:root {
    --bg-color: #D9D9D9;
    --second-bg-color: #2C2A4A;
    --third-bg-color: #4F518C;
    --text-color: #2C2A4A;
    --second-text-color: #fff;
    --btn-color: #907AD6;
    --second-btn-color: #7FDEFF;
}


html {
    font-style: 62.5%;
    /* overflow-x: hidden; */
}


body {
    min-height: 100vh;
    background: url('/frontend/static/img/clear_wateraquamarinepurple_wavy_bac_2(1).jpg')no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-title {
    font-size: 2rem;
    color: var(--second-text-color);
}


.navbar a {
    font-size: 1.15rem;
    color: var(--second-text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}


.icons {
    color: #fff;
    font-size: 2.7rem;
    cursor: pointer;
    display: none;
}


/* BREAKPOINTS */

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: block;
    }
}



